@*
*  Made with all the love in the world
*  by scireum in Remshalden, Germany
*
*  Copyright by scireum GmbH
*  http://www.scireum.de - info@scireum.de
*@
@args List entries, boolean canPagePrev, boolean canPageNext, String range, int prevStart, int nextStart
@extends(view.main.html, title: "API Log")

@section(sidebar) {

}

@section(header) {
<div class="jumbotron">
    <h1>API Log</h1>

    <p class="lead">
        All API calls are listed here.<br />
        <small>Note that this log is stored in memory and will be cleared once the server re-starts.</small>
    </p>
</div>
}

<table class="table table-striped table-bordered">
    <tr>
        <td>Function</td>
        <td>Description</td>
        <td>Result</td>
    </tr>
    @if(entries.isEmpty()) {
        <tr>
            <td colspan="2"><i>No API calls so far...</i></td>
        </tr>
    }
    @for(ninja.APILog.Entry entry : entries) {
    <tr class="@entry.getCSS()">
        <td class="span2">@entry.getFunction()<br/><span class="muted">@entry.getTod()</span></td>
        <td>@entry.getDescription()</td>
        <td class="span2">@entry.getResult()<br/><span class="muted">@entry.getDuration()</span></td>
    </tr>
    }
</table>
@if(!entries.isEmpty()) {
    <div class="pagination pagination-centered">
        <ul>
            @if (canPagePrev) {
             <li><a href="@prefix/ui/log?&start=prevStart">&laquo;</a></li>
            } else {
                <li class="disabled"><span>&laquo;</span></li>
            }
                <li><span>@range</span></li>
            @if (canPageNext) {
                <li><a href="@prefix/ui/log?start=@nextStart">&raquo;</a></li>
            } else {
                <li class="disabled"><span>&raquo;</span></li>
            }
        </ul>
    </div>
}


