/*
 * Made with all the love in the world
 * by scireum in Remshalden, Germany
 *
 * Copyright by scireum GmbH
 * http://www.scireum.de - info@scireum.de
 */

$primary-color:                 #9d2011;
$accent-color:                  $primary-color;
$linkColor:                     $primary-color;

/*
 * Fixes the margin set by .help-block for checkboxes
 */
.checkbox-help {
  margin-top: 0;
}

/*
 * Sets the background color for required fields
 */
input.required {
  background-color: #ffffef;
}

/*
 * Table columns with right alignment
 */
table td.align-right, table th.align-right, .align-right {
  text-align: right;
}

/*
 * Table columns with centered alignment
 */
table td.align-center, table th.align-center, .align-center {
  text-align: center;
}

/*
 * Removes the bottom margin of inline forms within wells
 */
.well .form-inline {
  margin: 0;
}

/*
 * Used for thumbnails in tables or lists
 */
.list-thumbnail {
  display: inline-block;
  max-width: 140px;
  max-height: 80px;
}

.header {
  min-height: 218px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;

  h1 {
    font-size: 60px;
    line-height: 1;
    text-align: left;
  }
  .lead {
    color: #7D7E80;
    font-size: 24px;
    line-height: 1.25;
    text-align: left;
  }
}

img#ninja {
  max-height: 178px;
}

#create-bucket .input-group {
  .error {
    border-color: $primary-color;
    background-color: transparentize($primary-color, 0.9);
  }

  .input-group-addon:hover {
    cursor: pointer;
    background-color: #858689;
  }
}
